@page "/"
@using SecurityWeb
@inject APIService service

<PageTitle>Home</PageTitle>

<input type="text" @bind="Username"/>
<input type="password"@bind="Password" />
<button type="submit" @onclick="Login">Login</button>


@code{
    string Username = null;
    string Password = null;   

    public async Task Login()
    {
        await service.LoginUser(Username, Password);
    }

}