@page "/"
@using SecurityWeb
@inject APIService service

<PageTitle>Home</PageTitle>

<p>Get Users put in username and password: ' or ''='</p>
<p>Add User put in password: ' or ''='; insert into client (username, password) values ('zack', 'zack'); select * from client where ' or ''='</p>


<label>Username</label>
<input type="text" @bind="Username"/>
<label>Password</label>
<input type="password"@bind="Password" />
<button type="submit" @onclick="Login">Login</button>


@foreach(var user in users)
{
    <p>Found Users: @user.Username</p>
    <p>Found Passwords: @user.Password</p>
}



@code{
    string Username = null;
    string Password = null;
    IEnumerable<User> users = [];

    public async Task Login()
    {
        users = await service.LoginUser(Username, Password);
    }

}